<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega Polls</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
</head>
<body>
    {% include "sweetalerts.html" %}
    <header class="header">
        <ul class='navbar'>
            <li><a href="./">Main Page</a></li>
            <li><a href="./create_poll">Create poll</a></li>
            <li><a href='./create_account'>Account</a></li>
        </ul>
    <canvas id="canvas1" width="100%" height="100%"></canvas>
    <h1 class="header-title">Mega Polls</h1>
    </header>
    <section>
        <h2 class="section-title">About Website</h2>
        <a class="section-text">This website provides royalty free polls creation. Make polls, share with friends and make decisions together. To create poll use
            appbar at the top of webstie. To share with friends just copy created poll link. That's it! Really simple, isn't it? Seems like it's something like google forms,
            but more wierd)
        </a>
    </section>
    <footer>
        something
    </footer>
</body>
<script type="text/javascript" src="../static/js/script.js"></script>


</html>